In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df = pd.read_csv(r'B:\GitHub Repository\Analysis-of-Annual-Education-Sector-Inflation-in-Indonesia\cleaning\cleaned-df.csv')

In [11]:
df.fillna('', inplace=True)
df

,Unnamed: 0,Pendidikan,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,2024
0,,Januari,Februari,Maret,April,Mei,Juni,Juli,Agustus,September,...,Mei,Juni,Juli,Agustus,September,Oktober,November,Desember,Tahunan,2024.0
1,KAB ACEH TENGAH,0.0,0,0,0.19,0.19,0.19,0.19,0.19,0.19,...,-,-,-,-,-,-,-,-,-,2024.0
2,MEULABOH,2.79,2.26,1.81,0.7,0.7,0.7,0.7,0.7,0.73,...,0.49,0.49,0.49,0.49,0.49,0.49,0,0,-,2024.0
3,KAB ACEH TAMIANG,2.36,2.36,2.36,2.36,2.36,2.36,1.39,4.78,5.14,...,-,-,-,-,-,-,-,-,-,2024.0
4,KOTA BANDA ACEH,0.32,0.35,0.35,0.35,0.35,0.35,0.35,0.58,0.58,...,0.38,0.38,0.38,0.38,0.38,0.38,0.38,0.38,-,2024.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,MERAUKE,-2.17,-2.17,-2.17,-2.17,-2.17,-2.17,-,-,-,...,7.38,7.38,-,-,-,-,-,-,-,2025.0
299,TIMIKA,1.09,1.09,1.09,1.09,1.09,0.2,-,-,-,...,-,-,-,-,-,-,-,-,-,2025.0
300,KAB NABIRE,1.96,2.3,2.3,2.3,2.3,2.3,-,-,-,...,-,-,-,-,-,-,-,-,-,2025.0
301,KAB JAYAWIJAYA,1.82,3.15,3.15,3.15,3.15,3.15,-,-,-,...,-,-,-,-,-,-,-,-,-,2025.0
302,INDONESIA,2.05,2.04,1.89,1.88,1.88,1.82,-,-,-,...,2.23,2.75,-,-,-,-,-,-,-,2025.0

In [12]:
# Set the first row (index 0) as column headers and drop it from the data
df.columns = [df.iloc[0]]
df = df.iloc[1:].reset_index(drop=True)

In [13]:
df

,,Januari,Februari,Maret,April,Mei,Juni,Juli,Agustus,September,...,Mei,Juni,Juli,Agustus,September,Oktober,November,Desember,Tahunan,2024.0
0,KAB ACEH TENGAH,0.0,0,0,0.19,0.19,0.19,0.19,0.19,0.19,...,-,-,-,-,-,-,-,-,-,2024.0
1,MEULABOH,2.79,2.26,1.81,0.7,0.7,0.7,0.7,0.7,0.73,...,0.49,0.49,0.49,0.49,0.49,0.49,0,0,-,2024.0
2,KAB ACEH TAMIANG,2.36,2.36,2.36,2.36,2.36,2.36,1.39,4.78,5.14,...,-,-,-,-,-,-,-,-,-,2024.0
3,KOTA BANDA ACEH,0.32,0.35,0.35,0.35,0.35,0.35,0.35,0.58,0.58,...,0.38,0.38,0.38,0.38,0.38,0.38,0.38,0.38,-,2024.0
4,KOTA LHOKSEUMAWE,1.27,1.27,1.27,1.27,1.27,1.27,3.42,3.86,3.86,...,9.43,9.43,9.43,9.43,9.43,9.43,9.43,9.43,-,2024.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,MERAUKE,-2.17,-2.17,-2.17,-2.17,-2.17,-2.17,-,-,-,...,7.38,7.38,-,-,-,-,-,-,-,2025.0
298,TIMIKA,1.09,1.09,1.09,1.09,1.09,0.2,-,-,-,...,-,-,-,-,-,-,-,-,-,2025.0
299,KAB NABIRE,1.96,2.3,2.3,2.3,2.3,2.3,-,-,-,...,-,-,-,-,-,-,-,-,-,2025.0
300,KAB JAYAWIJAYA,1.82,3.15,3.15,3.15,3.15,3.15,-,-,-,...,-,-,-,-,-,-,-,-,-,2025.0
301,INDONESIA,2.05,2.04,1.89,1.88,1.88,1.82,-,-,-,...,2.23,2.75,-,-,-,-,-,-,-,2025.0

In [14]:
df.columns(contains='Unnamed')

TypeError: 'MultiIndex' object is not callable