In [9]:
import pandas as pd
import numpy as np

In [18]:
df24 = pd.read_excel(r'B:\GitHub Repository\Analysis-of-Annual-Education-Sector-Inflation-in-Indonesia\datasets\2024.xlsx', skiprows=1, header=[0, 2])
df25 = pd.read_excel(r'B:\GitHub Repository\Analysis-of-Annual-Education-Sector-Inflation-in-Indonesia\datasets\2025.xlsx', skiprows=1, header=[0, 2])

In [19]:
df25

    Unnamed: 0_level_0  \
    Unnamed: 0_level_1
0                  NaN
1      KAB ACEH TENGAH
2             MEULABOH
3     KAB ACEH TAMIANG
4      KOTA BANDA ACEH
..                 ...
147            MERAUKE
148             TIMIKA
149         KAB NABIRE
150     KAB JAYAWIJAYA
151          INDONESIA

    Inflasi Tahunan (Y-on-Y) (2022=100) Menurut Kelompok dan Sub Kelompok 09 Pendidikan (Persen)  \
                                                                                            2025
0                                              Januari
1                                                 0.07
2                                                 0.03
3                                                 5.14
4                                                 0.58
..                                                 ...
147                                              -2.17
148                                               1.09
149                                               1.96
150                                               1.82
151                                               2.05

                                                                      ...  \
       2025.1 2025.2 2025.3 2025.4 2025.5 2025.6   2025.7     2025.8  ...
0    Februari  Maret  April    Mei   Juni   Juli  Agustus  September  ...
1        0.07   0.28    0.1   0.52   0.79      -        -          -  ...
2        0.03   0.03   0.03   0.03   0.03      -        -          -  ...
3        5.14   5.14   5.14   5.14   5.14      -        -          -  ...
4        0.55   0.55   0.55   0.55   0.55      -        -          -  ...
..        ...    ...    ...    ...    ...    ...      ...        ...  ...
147     -2.17  -2.17  -2.17  -2.17  -2.17      -        -          -  ...
148      1.09   1.09   1.09   1.09    0.2      -        -          -  ...
149       2.3    2.3    2.3    2.3    2.3      -        -          -  ...
150      3.15   3.15   3.15   3.15   3.15      -        -          -  ...
151      2.04   1.89   1.88   1.88   1.82      -        -          -  ...

                                                                            \
    2025.55 2025.56 2025.57 2025.58  2025.59    2025.60  2025.61   2025.62
0     April     Mei    Juni    Juli  Agustus  September  Oktober  November
1         -       -       -       -        -          -        -         -
2         0       0       0       -        -          -        -         -
3         -       -       -       -        -          -        -         -
4         0       0       0       -        -          -        -         -
..      ...     ...     ...     ...      ...        ...      ...       ...
147    7.38    7.38    7.38       -        -          -        -         -
148       -       -       -       -        -          -        -         -
149       -       -       -       -        -          -        -         -
150       -       -       -       -        -          -        -         -
151    2.18    2.23    2.75       -        -          -        -         -


      2025.63  2025.64
0    Desember  Tahunan
1           -        -
2           -        -
3           -        -
4           -        -
..        ...      ...
147         -        -
148         -        -
149         -        -
150         -        -
151         -        -

[152 rows x 66 columns]

In [12]:
df25.columns = [f"{col1}_{col2}".strip("_") for col1, col2 in df25.columns]

In [13]:
df25

,Unnamed: 0_level_0_Unnamed: 0_level_1,Inflasi Tahunan (Y-on-Y) (2022=100) Menurut Kelompok dan Sub Kelompok 09 Pendidikan (Persen)_2025,Inflasi Tahunan (Y-on-Y) (2022=100) Menurut Kelompok dan Sub Kelompok 09 Pendidikan (Persen)_2025.1,Inflasi Tahunan (Y-on-Y) (2022=100) Menurut Kelompok dan Sub Kelompok 09 Pendidikan (Persen)_2025.2,Inflasi Tahunan (Y-on-Y) (2022=100) Menurut Kelompok dan Sub Kelompok 09 Pendidikan (Persen)_2025.3,Inflasi Tahunan (Y-on-Y) (2022=100) Menurut Kelompok dan Sub Kelompok 09 Pendidikan (Persen)_2025.4,Inflasi Tahunan (Y-on-Y) (2022=100) Menurut Kelompok dan Sub Kelompok 09 Pendidikan (Persen)_2025.5,Inflasi Tahunan (Y-on-Y) (2022=100) Menurut Kelompok dan Sub Kelompok 09 Pendidikan (Persen)_2025.6,Inflasi Tahunan (Y-on-Y) (2022=100) Menurut Kelompok dan Sub Kelompok 09 Pendidikan (Persen)_2025.7,Inflasi Tahunan (Y-on-Y) (2022=100) Menurut Kelompok dan Sub Kelompok 09 Pendidikan (Persen)_2025.8,...,Inflasi Tahunan (Y-on-Y) (2022=100) Menurut Kelompok dan Sub Kelompok 09 Pendidikan (Persen)_2025.55,Inflasi Tahunan (Y-on-Y) (2022=100) Menurut Kelompok dan Sub Kelompok 09 Pendidikan (Persen)_2025.56,Inflasi Tahunan (Y-on-Y) (2022=100) Menurut Kelompok dan Sub Kelompok 09 Pendidikan (Persen)_2025.57,Inflasi Tahunan (Y-on-Y) (2022=100) Menurut Kelompok dan Sub Kelompok 09 Pendidikan (Persen)_2025.58,Inflasi Tahunan (Y-on-Y) (2022=100) Menurut Kelompok dan Sub Kelompok 09 Pendidikan (Persen)_2025.59,Inflasi Tahunan (Y-on-Y) (2022=100) Menurut Kelompok dan Sub Kelompok 09 Pendidikan (Persen)_2025.60,Inflasi Tahunan (Y-on-Y) (2022=100) Menurut Kelompok dan Sub Kelompok 09 Pendidikan (Persen)_2025.61,Inflasi Tahunan (Y-on-Y) (2022=100) Menurut Kelompok dan Sub Kelompok 09 Pendidikan (Persen)_2025.62,Inflasi Tahunan (Y-on-Y) (2022=100) Menurut Kelompok dan Sub Kelompok 09 Pendidikan (Persen)_2025.63,Inflasi Tahunan (Y-on-Y) (2022=100) Menurut Kelompok dan Sub Kelompok 09 Pendidikan (Persen)_2025.64
0,NaN,Januari,Februari,Maret,April,Mei,Juni,Juli,Agustus,September,...,April,Mei,Juni,Juli,Agustus,September,Oktober,November,Desember,Tahunan
1,KAB ACEH TENGAH,0.07,0.07,0.28,0.1,0.52,0.79,-,-,-,...,-,-,-,-,-,-,-,-,-,-
2,MEULABOH,0.03,0.03,0.03,0.03,0.03,0.03,-,-,-,...,0,0,0,-,-,-,-,-,-,-
3,KAB ACEH TAMIANG,5.14,5.14,5.14,5.14,5.14,5.14,-,-,-,...,-,-,-,-,-,-,-,-,-,-
4,KOTA BANDA ACEH,0.58,0.55,0.55,0.55,0.55,0.55,-,-,-,...,0,0,0,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,MERAUKE,-2.17,-2.17,-2.17,-2.17,-2.17,-2.17,-,-,-,...,7.38,7.38,7.38,-,-,-,-,-,-,-
148,TIMIKA,1.09,1.09,1.09,1.09,1.09,0.2,-,-,-,...,-,-,-,-,-,-,-,-,-,-
149,KAB NABIRE,1.96,2.3,2.3,2.3,2.3,2.3,-,-,-,...,-,-,-,-,-,-,-,-,-,-
150,KAB JAYAWIJAYA,1.82,3.15,3.15,3.15,3.15,3.15,-,-,-,...,-,-,-,-,-,-,-,-,-,-
151,INDONESIA,2.05,2.04,1.89,1.88,1.88,1.82,-,-,-,...,2.18,2.23,2.75,-,-,-,-,-,-,-