In [1]:
import pandas as pd

In [6]:
df24 = pd.read_excel(r'B:\GitHub Repository\Analysis-of-Annual-Education-Sector-Inflation-in-Indonesia\datasets\Inflasi Tahunan (Y-on-Y) (2022=100) Menurut Kelompok dan Sub Kelompok 09 Pendidikan, 2024.xlsx')
df25 = pd.read_excel(r'B:\GitHub Repository\Analysis-of-Annual-Education-Sector-Inflation-in-Indonesia\datasets\Inflasi Tahunan (Y-on-Y) (2022=100) Menurut Kelompok dan Sub Kelompok 09 Pendidikan, 2025.xlsx')

In [7]:
df24

,150 Kabupaten/Kota Inflasi (2022=100),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,NaN,Inflasi Tahunan (Y-on-Y) (2022=100) Menurut Ke...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Pendidikan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Januari,Februari,Maret,April,Mei,Juni,Juli,Agustus,September,...,April,Mei,Juni,Juli,Agustus,September,Oktober,November,Desember,Tahunan
4,KAB ACEH TENGAH,0,0,0,0.19,0.19,0.19,0.19,0.19,0.19,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,MERAUKE,2.77,2.77,2.77,2.77,2.77,2.03,-2.88,-3.73,-2.36,...,0.76,0.76,0.76,7.38,7.38,7.38,7.38,7.38,7.38,-
151,TIMIKA,0,0,0,0,0,0.89,1.02,1.09,1.09,...,-,-,-,-,-,-,-,-,-,-
152,KAB NABIRE,0.54,0.21,0.21,0.21,0.21,0.21,0.21,1.58,1.96,...,-,-,-,-,-,-,-,-,-,-
153,KAB JAYAWIJAYA,0,0,0,0,0,0,1.82,1.82,1.82,...,-,-,-,-,-,-,-,-,-,-
154,INDONESIA,1.57,1.55,1.7,1.72,1.71,1.69,1.9,1.83,1.94,...,3.46,3.38,3.36,3.62,3.62,3.47,3.12,3.09,3.07,-

In [8]:
df25

,150 Kabupaten/Kota Inflasi (2022=100),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,NaN,Inflasi Tahunan (Y-on-Y) (2022=100) Menurut Ke...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Pendidikan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Januari,Februari,Maret,April,Mei,Juni,Juli,Agustus,September,...,April,Mei,Juni,Juli,Agustus,September,Oktober,November,Desember,Tahunan
4,KAB ACEH TENGAH,0.07,0.07,0.28,0.1,0.52,0.79,-,-,-,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,MERAUKE,-2.17,-2.17,-2.17,-2.17,-2.17,-2.17,-,-,-,...,7.38,7.38,7.38,-,-,-,-,-,-,-
151,TIMIKA,1.09,1.09,1.09,1.09,1.09,0.2,-,-,-,...,-,-,-,-,-,-,-,-,-,-
152,KAB NABIRE,1.96,2.3,2.3,2.3,2.3,2.3,-,-,-,...,-,-,-,-,-,-,-,-,-,-
153,KAB JAYAWIJAYA,1.82,3.15,3.15,3.15,3.15,3.15,-,-,-,...,-,-,-,-,-,-,-,-,-,-
154,INDONESIA,2.05,2.04,1.89,1.88,1.88,1.82,-,-,-,...,2.18,2.23,2.75,-,-,-,-,-,-,-